<section id="page-title-area" class="section-padding overlay">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-12">
                    <div class="section-title  text-center">
                        <h2>OLÁ, {{user.username}}</h2>
                        <span class="title-line"><i class="fa fa-car"></i></span>
                        <p style="font-size: 17px;">E-MAIL: {{user.status}}</p>
                    </div>
                </div>
                
            </div>
        </div>
</section>

 
<!--== Car List ==-->
<section id="car-list-area" class="section-padding">
        <div class="container">
            <div class="row">
                <!-- Car List Content -->
                <div class="col-lg-12">
                    <div class="car-list-content">
                        {{!-- <div class="row"> --}}
                            <div class="col-lg-6">
                                <div class="register">
                                <a href="/savecar" class="map-show register" >CADASTRAR CARRO</a> <a href="/search" class="map-show register" >PESQUISAR PLACA</a>
                                </div>
                            </div>
                        <div class="row">
                            {{#each cars}}
                            <!-- Single Car  -->
                            <div class="col-lg-6 col-md-6">
                                <div class="single-car-wrap">
                                    <div class="car-list-thumb car-thumb-1"> <img style="height: 300px;" src="{{path}}" alt="{{model}}"></div>
                                    <div class="car-list-info without-bar">
                                        <h2><a href="/cars/{{_id}}">{{plate}}</a></h2>
                                        {{#if cars.model}}
                                        <h5>{{cars.model}} / {{cars.brand}}</h5>
                                        {{/if}}
                                    
                                        <a href="/cars/{{_id}}" class="details-btn">DETALHES</a>
                                        <a href="/cars-edit/{{_id}}" class="rent-btn">EDITAR</a>
                                        {{!-- alertify.confirm('Confirm Title', 'Confirm Message', function(){ alertify.success('Ok') }
                , function(){ alertify.error('Cancel')}); --}}
                                        {{!-- onclick="return confirm('TEM CERTEZA QUE VOCÊ QUER DELETAR ESTE CARRO?');" --}}
                                        <a href="/cars-delete/{{_id}}" onclick="return confirm('TEM CERTEZA QUE VOCÊ QUER DELETAR ESTE CARRO?');" class="delete-btn" id="confirm-delete" >DELETAR</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Car -->
                            {{/each}}
                        </div>
                    {{!-- </div> --}}

                </div>
                <!-- Car List End -->
            </div>
        </div>
        </div>
    </section>
    <!--== Car List  End ==-->


{{!-- href="/cars-delete/{{_id}} --}}

{{!-- 
<h1>DASHBOARD</h1>

<h1>Olá, {{user.username}}</h1>
<h2>{{user.status}}</h2>

<ul>
    {{#each cars}}
    <li>
    <a href="/cars/{{_id}}">{{plate}}</a>
    <a href="/cars-edit/{{_id}}">Editar</a> /
    <a href="/cars-delete/{{_id}}">Deletar</a>
    </li>
    {{/each}}
</ul>

<form action="/search" method="GET">
<label for="search">Pesquisar placa</label>
<input type="text" name="search" placeholder="AAA-0000">
<button id="search">Pesquisar</button> <br>
</form>
<ul>
    <li>{{response.plate}}
        <p>{{response.status}}</p>
        <p>{{response.brand}} / {{response.model}}</p>
        <p>{{response.year}} / {{response.color}}</p>
        <p>{{response.city}} / {{response.state}}</p>
    </li>
</ul>

<ul>
    <li>{{response.plate}}
        <p>{{response.status}}</p>
        <p>{{response.brand}} / {{response.model}}</p>
        <p>{{response.year}} / {{response.color}}</p>
        <p>{{response.city}} / {{response.state}}</p>
    </li>
</ul>

{{#if message }}
    <div class="error-message">{{message}}</div>
{{/if}}

<a href="/savecar">Cadastrar carro</a> <br>
<a href="/auth/logout">Logout</a> --}}