<h1>DASHBOARD</h1>

<h1>Olá, {{user.username}}</h1>
<h2>{{user.status}}</h2>

<ul>
    {{#each cars}}
    <li>
    <a href="/cars/{{_id}}">{{plate}}</a>
    <a href="/cars-edit/{{_id}}">Editar</a> /
    <a href="/cars-delete/{{_id}}">Deletar</a>
    </li>
    {{/each}}
</ul>

<form action="/search" method="GET">
<label for="search">Pesquisar placa</label>
<input type="text" name="search" placeholder="AAA-0000">
<button id="search">Pesquisar</button> <br>
</form>
<ul>
    <li><a href="/cars/{{response._id}}">{{response.plate}}</a></li>
</ul>

<ul>
    <li>{{response.plate}}
        <p>{{response.status}}</p>
        <p>{{response.brand}} / {{response.model}}</p>
        <p>{{response.year}} / {{response.color}}</p>
        <p>{{response.city}} / {{response.state}}</p>
    </li>
</ul>

{{#if message }}
    <div class="error-message">{{message}}</div>
{{/if}}


<a href="/savecar">Cadastrar carro</a> <br>
<a href="/auth/logout">Logout</a>