<section id="lgoin-page-wrap" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-8 m-auto">
        <div class="login-page-content">
          <div class="login-form">
            <h3>Edite seu carro</h3>
            <form action="/cars-edit" method="POST" id="form">
            <input type="hidden" name="carId" value="{{car._id}}">
              <div class="name">
                <div class="row">
                  <div class="col-md-6">

                    <label class="letters" for="brand">MARCA</label>
                    <input type="text" name="brand" value="{{car.brand}}" disabled>
                  </div>

                  <div class="col-md-6">
                    <label class="letters" for="model">MODELO</label>
                    <input type="text" name="model" value="{{car.model}}" disabled>
                  </div>
                </div>
              </div>

              <div class="username">
                <label class="letters" for="color">COR</label>
                <input id="color" type="text" name="color" value="{{car.color}}" disabled>
              </div>

              <div class="username">
                <label class="letters" for="plate">PLACA</label>
                <input id="color" type="text" name="color" value="{{car.plate}}" disabled>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <label class="letters" for="cidades">CIDADE</label>
                  <input id="city" type="text" name="city" value="{{car.city}}" disabled>
                </div>

                <div class="col-md-6">
                  <label class="letters" for="estados">ESTADO</label>
                  <input id="state" type="text" name="state" value="{{car.state}}" disabled>
                </div>
              </div>

              <div class="password">
                <label class="letters" for="year">ANO</label>
                <input id="year" type="number" name="year" value="{{car.year}}" disabled>
              </div>

              <div class="password">
                <label class="letters" for="details">DETALHES</label>
                <input id="details" type="text" name="details" value="{{car.details}}">
              </div>

              <div class="password">
                <label class="letters" for="status">SITUAÇÃO</label>
                <select class="custom-select" name='status'>
                  <option value="{{car.status}}" selected>{{car.status}}</option>
                  {{#compare car.status "Roubado" operator='==='}}
                  <option value="Sem registro ou alerta de roubo">Sem registro ou alerta de roubo</option>
                  {{/compare}}
                  {{#compare car.status "Sem registro ou alerta de roubo" operator='==='}}
                  <option value="Roubado">Roubado</option>
                  {{/compare}}
                </select>
              </div>

              {{#if message }}
              <div class="error-message">{{ message }}</div>
              {{/if}}

              <div class="log-btn space">
                <button type="submit"><i class="fa fa-check-square"></i> Editar carro</button>
              </div>
            </form>
          </div>

          <div class="login-menu space">
            <span>Voltar para seu</span>
            <a href="/dashboard">PERFIL</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>